.container{
width: 480px;
float: left;
margin-left: 5%;
border: 1px solid gray;
}

img{
    width:350px; /* you can use % */
    height: auto;
}

#searchText{
	width:50%;
}

body {
   background:#eee;
}